.about-container {
  font-family: 'raleway', sans-serif;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  /*height: 100vh;*/
  /*margin: auto;*/

  font-weight: 400;
  flex: 1;
  margin-top: 2rem;

}

.about-section {
  /*display: flex;*/
  /*align-items: flex-start;  */
  /*gap: 2rem;*/
  justify-content: space-between;
  font-size: 1.5rem;
  /*margin: auto;*/
  width: 50%;
}

.about-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  height: auto;
  width: 150px;
  margin-right: 25px;
  margin-bottom: 10px;
}

.about-img img {
  border-radius: 100%;
}

.img-caption {
  font-size: 1rem;
}

.about-title,
.skill-title {
  /*text-align: center;*/
}

.about-title {
  font-size: 5rem;
  font-weight: 300;
}

.skill-title,
.education-title
{
  font-weight: 300;
}

.skill-section {
  margin-top: 2rem;
  width: 50%;
}

.skill-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
