.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*height: 100vh;*/
  margin: auto;
  font-weight: 400;
}

.about-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  height: auto;
  width: 150px;
  margin-right: 25px;
  margin-bottom: 10px;
}

.about-img img {
  border-radius: 100%;
}

.img-caption {
  font-size: 1rem;
}

.about-section {
  font-size: 1.5rem;
  margin: auto;
  width: 40%;
}

.about-title,
.skill-title {
  text-align: center;
}

.about-title {
  font-size: 8rem;
  font-weight: 300;
}

.skill-title {
  font-weight: 300;
}

.skill-section {
  width: 40%;
}

.skill-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
