.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.home-container__title {
    text-align: center;
}

.home-container__title h1 {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
}

.home-container__title h4 {
    color: #9AAA88;
}


