.nav-list {
    display: flex;
    gap: 1rem;
}

.navbar-link {
    font-size: 1.5rem;
    transition: color ease-in .2s;
}

.navbar-link:hover{
    color: #C8946A;
}

@media screen and (max-width:767px) {
    .navbar {
        display: none;
    }
}