@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* #3D3530 —  */
/* #8FAF8A —  */
/* #C9A882 —  */
/* #D4785A —  */
/* #F5EFE6 —  */
/* #2C3828 */

/* Breakpoints: mobile < 768px | tablet 768–1023px | desktop 1024px+ */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #f5efe6;
  color: #3d3530;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 100%;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  min-height: 100%;
  overscroll-behavior: none;
}


#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}



img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 6rem;
  font-family: 'Montserrat Alternates', sans-serif;
  /* font-weight: 300; */
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 3rem;
}
